<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ConnecitonString" connectionString="metadata=res://*/CMSDB.csdl|res://*/CMSDB.ssdl|res://*/CMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hds-062.hichina.com;initial catalog=hds0620228_db;persist security info=True;user id=hds0620228;password=asd660330;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CMSDB" connectionString="metadata=res://*/CMSDB.csdl|res://*/CMSDB.ssdl|res://*/CMSDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hds-062.hichina.com;initial catalog=hds0620228_db;persist security info=True;user id=hds0620228;password=asd660330;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>