@{    
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "index";
}
@*<div id="Grid_Panel" style="width:100%;">
    <div class="l-panel-content">
       <div id="underscoreTable">
</div>
    </div>
</div>*@
<div id="underscoreTable">
</div>
@section BottomScript
{
    <script type="text/javascript" src="@Url.Content("/Resources/js/RockDataGrid.js")"></script>
    <script type="text/javascript">

        function testrender() {
            var a = "<input type='button' value='编辑'/>&nbsp;&nbsp;<input type='button' value='删除'/>";
            return a;
        }

        var grid = null;
        $(function () {

            var params = {
                columns:
                            [
                                { display: '新闻标题', name: 'Title' },
                                { display: '创建日期', name: 'CreateDate' }
                            ],
                url: "/new/GetNewsList",
                editUrl:'/new/edit/',
                delUrl:'/new/deletenews/',
                defaultEdit: true,
                pkName:'ID',
            };

            grid = $("#underscoreTable").RockDataGrid(params);

});

    </script>
}
